.localProfile
.DS_Store
karabiner/automatic_backups
raycast/cf-*
node_modules
lazygit/state.yml

.claude/ide/*
.claude/projects/*
.claude/shell-snapshots/*
.claude/statsig/*
.claude/todos
.claude/.update.lock

